docs
[#]*[#]
.\#*
*~
*.csv
*.o
*.gif
*.gcda
*.gcno
*.gcov
autom4te.cache
.DS_Store
.cache
.Rhistory
.in
.deps*
latex
config.log
tmp*
*.a
example*
tabix
htsfile
bgzip
back*
*.m4
*.bam
stamp-h1
config.status
*.pico
benchmark
config.status
seqtools
config.h
config.h.in
missing
compile
depcomp
Makefile.in
install-sh
compile_commands.json
configure
